@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Science+Gothic:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
body{
    font-family: 'Lexend', Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    background-color:grey;
    color: white;
}
#title{
    color:#bcd1ff;
    animation: intro 2s ease-in-out infinite;
}
#bottom{
    text-align: bottom;
    color:aqua;
    text-decoration: none;
}

#bottom a{
    color:aqua;
    text-decoration: underline;
}


@keyframes intro {
    0%{
        opacity: 1;
        transform: translateX(0px);
    }
    50%{
        transform: translateX(50px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes pop {
    0%{
        transform: scale(1.0);
    }

    50%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1.0);
    }

}
#more{
    animation: pop 2s infinite;
}

#about{
    animation: pop 3s infinite;
}
#navbar span{
    transition: font-size 0.25s ease;
}

#navbar span:hover{
    font-size: 1.25em;
    cursor: pointer;
}



#svj{
    width: 50%;
    height:auto;  
    transition: transform 0.3s ease;  
}

#svj:hover{
    transform: scale(1.05);
    cursor: pointer;
}
#bottom {
    margin-top: 100px;
}
#senna:hover{
    transform: scale(1.05);
    cursor: pointer;
}

#sennaM:hover{
    transform: scale(1.05);
    cursor: pointer;
}

#svjM:hover{
    transform: scale(1.05);
    cursor: pointer;
}



#title1{
    color:rgb(50, 232, 129);
}

#title2{
    color:rgb(255, 128, 0);
}
#info{
    color:rgb(77, 224, 148);
    font-family: 'Oswald', sans-serif;
}
#info1{
    color:rgb(255, 165, 0);
    font-family: 'Oswald', sans-serif;
}




    #svj {
        width: 50%;
        margin: 0 auto;
        display: block;
    }


@media screen and (max-width: 1100px) {
    #svjM {
        width: 100%;
        margin: 0 auto;
        display: block;
        transition: transform 0.3s ease;  

    }
}

    #senna {
        width: 50%;
        margin: 0 auto;
        display: block;
        transition: transform 0.3s ease;  
    }


@media screen and (max-width: 1100px) {
    #sennaM {
        width: 100%;
        margin: 0 auto;
        display: block;
        transition: transform 0.3s ease;  

    }
}

#navbar {
        text-align: center;
        a{
            font-family: 'Science Gothic', sans-serif;
            color:aqua;
            text-decoration: none;   
        }
    
}

